@import '../../../../../styles/variables.scss';

.parent {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 2rem;
  background-color: $color-main-white;
}