@import './reset';

:root {
  font-size: 16px;
  background-color: $color-main-white;
}

h1 {
  font-family: "TT Travels", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -3px;
}

* {
  box-sizing: border-box;
}


@media (max-width: 768px) {
  body {
    padding: 0 1px;
  }
  br {
    display: none;
  }


  h1 {
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -1px;
  }
}
