.IntecoDiv {
  background-repeat: no-repeat;
  background-size: auto 760px;
  min-height: 760px;
  border-radius: 12px;
  margin: 80px 0 60px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  gap: 280px;
  padding: 60px 0 0 0;

  .left {
    width: 330px;

    h1 {
      font-size: 48px;
      letter-spacing: -4%;
    }

    p:nth-child(2) {
      margin: 16px 0 80px;
      opacity: 100%;
    }

    h6 {
      font-family: 'TT Travels', sans-serif;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: -2%;
    }

    p {
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -1%;
      margin: 2px 0 26px;
      opacity: 80%;
    }
  }

  .right {
    li {
      font-family: 'Helvetica Neue', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
      margin-top: 8px;
    }

    li span {
      border-bottom: 1px solid #ffffff79;
    }

    li:first-child {
      font-weight: 400;
      span {
        border-bottom: none;
      }
    }
  }

  // Адаптация для мобильных устройств (до 768px)
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 10px 10px;
    margin: 40px 0 30px;
    min-height: auto;
    background-size: auto 400px;
    background-position: center top;
    border-radius: 8px;

    .left {
      width: 100%;
      text-align: start;

      h1 {
        font-size: 28px;
        letter-spacing: -2%;
      }

      p:nth-child(2) {
        margin: 10px 0 40px;
        font-size: 16px;
        line-height: 20px;
      }

      h6 {
        font-size: 20px;
        line-height: 24px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        margin: 2px 0 20px;
      }
    }

    .right {
        display: none;
    }
  }
}