.IntecoDiv {
  background-image: url('../../../../../assets/Inteco/inteco.png');
  background-repeat: no-repeat;
  background-size: auto 760px;
  min-height: 760px;
  border-radius: 12px;
  margin: 30px 0 70px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  gap: 280px;
  padding: 60px 0 0 0;

  .left {
    width: 330px;

    h1 {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -4%;
    }

    p:nth-child(2) {
      margin: 16px 0 80px;
      opacity: 100%;
    }

    h6 {
      font-family: "TT Travels", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -2%;
    }

    p {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -1%;
      margin: 2px 0 26px;
      opacity: 80%;
    } 
  }

  .right {

    li {
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      margin-top: 8px;
    }
  
    li span {
      border-bottom: 1px solid #ffffff79;
    }
  
    li:first-child {
      font-weight: 400;
      span {
        border-bottom: none;
      }
    }
  }
}