.apartments {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    h1 {
      text-align: center;
      margin-bottom: 40px;

      .middleline {
        position: absolute;
        top: 105px;
        left: 350px;
        z-index: -1;
      }
    }

    .miniline {
      position: absolute;
      top: 153px;
      left: 230px;
    }
  }